@import "../common.css";

*{
  margin: 0;
  padding: 0;

}


.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
      border-right: 1px solid #ababab63;
    margin-right: 2rem;
    height: 1024px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6rem;
      margin-top: 2rem;
  
}

.logo h2{
      font-size: 31.7px;
      color: #3a9fbc;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 175px;
    width: 191px;
}

.side-menu button {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 1rem;
  border: none;
  transition: all .3s ease;
}

.side-menu button:hover{
    margin: 5px;
}

.side-menu button a {
  text-decoration: none;
  font-size: 16px;
      color: #7E7E7E;
    background: none;
}

.activ {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 1rem;
 background: #3a9fbc;
}

.img-bottom {
      display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.img-bottom img{
  width: 80%;
}

.bottom-title {
 background: black;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 50% 50% 0px 0;
    padding: 25px 10px 15px 10px;
    position: absolute;
    top: 7rem;
    left: 1rem;
}

.btn-bott{
  margin-top: 1rem;
    padding: 9px 12px;
    width: 159px;
    height: 38px;
}

.top-heding {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left p {
  font-size: 20px;
  color: #747474;
}

.left h2 {
  font-size: 32px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right button {
  border: none;
  background: none;
}

.user-mini {
  display: flex;
  align-items: center;
  gap: 8px;
}

.all-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.left-btn {
  display: flex;
    gap: 20px;
}

.left-btn .activ-left {
  padding: 14px 16px;
    border: none;
    background-color: #ffffff;
    border-radius: 6px;
    width: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.left-btn button {
    padding: 14px 16px;
    color: #7A7D84;
    border: 1px solid #E5E5E5;
    width: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.right-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.month-button {
  padding: 10px 13px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #6c7891;

  border-radius: 8px;

  background: white;

  color: #3e4a62;

  font-size: 12px;
}

.appointment-button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 17px;

  border-radius: 8px;

  background: #3a9fbc;

  color: white;

  font-size: 12px;
}

.appointment-button:hover {
  background: #278da9;
}

.all-time {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.line {
  border-right: 1px solid #e5e5e5;
  height: 68px;
  padding-left: 32px;
  margin-right: 32px;
}

.main-content{
        flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
        padding: 1rem;
}

.profile-content{
  display: flex;
    flex-direction: column;
    gap: 30px;
}

.des-bord{
  display: flex;
    background-color: #f8f9fa;
}

.profile-card{
      border: 1px solid;
    /* width: 1157px; */
    /* height: 140px; */
    padding: 1rem;
    /* gap: 230px; */
    margin-top: -35px;
    margin-bottom: 35px;
    border-radius: 16px;
}

.user-card{
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info{
      display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
}

.edit-btn{
  padding: 10px 24px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid;
}

.profile-card{
  border: 1px solid;
    padding: 1rem;
    margin-bottom: 35px;
    border-radius: 16px;
    padding-bottom: 2rem;
}

.card-heading{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding: 2rem 0;
}

.info-grid{
      display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 16px;
}

.info-item{
  display: flex;
    flex-direction: column;
    gap: 4px;
}

.settings-card{
      display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 20px;
    gap: 10px;
}

.btn-general{
      display: flex;
}

.settings-row{
      width: 537px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid;
    padding-right: 2rem;
    margin-right: 2rem;
    align-items: center;
}

.change-btn{
      padding: 10px;
    border-radius: 8px;
    border: 1px solid;
}